@using TFNG.Common
@{ this.ViewData["Title"] = "Biography Page"; }


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2>Биография на ръководителя</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1625437538/202702556_231558548814098_8609514085272562628_n_ee4hjm.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 class="font-italic">
                        БИОГРАФИЧНИ ДАННИ
                    </h3>
                    <p>
                        Евгений Вучков е роден на 4 август 1956 година в град Пловдив.
                    </p>
                    <p>
                        Прави първите си стъпки в областта на българския танцов фолклор в танцовия състав на Кюстендилски ансамбъл за народни песни и танци, чийто главен художествен ръководител е неговият баща Никола Вучков.
                    </p>
                    <p>
                        В периода 1971 г. – 1975 г. Е. Вучков учи в Държавното хореографско училище в гр. София (понастоящем НУТИ). Негови учители по български танци са академик Красимир Петров и Любов Стоянова, а класовете по ансамбъл тогава се водят от Кирил Харалампиев и Димитър Димитров (Палаврата).

                    </p>
                    <p>
                        По време на ученето си, Е. Вучков е солист в Ансамбъл „Маяковски“ при Дома на българо–съветската дружба с главен художествен ръководител Кирил Харалампиев.

                    </p>

                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <p>
                    От 1995г до 1997г. Е. Вучков отбива военната си служба в Ансамбъла на „Строителни войски“ като соло-балетист с главен художествен ръководител Кирил Харалампиев.

                </p>
                <p>
                    От 1997г. до 1981г. Е. Вучков е студент във Висшия музикално-педагогически институт, гр. Пловдив (понастоящем АМТИИ) в специалност „Хореографска режисура“ с преподаватели проф. Кирил Дженев и Феодор Бакалов. Едновременно със студентството,  Вучков танцува в ДФА „Тракия“ като артист - соло балетист с главен художествен ръководител проф. Кирил Дженев.

                </p>
                <p>
                    След като завършва магистратурата си, Вучков се завръща в град Кюстендил и започва работа като режисьор-хореограф на Кюстендилски ансамбъл за народни песни и танци.

                </p>
            </div>
        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2 class="font-italic">
                    НАГРАДИ И ПРИЗНАНИЯ
                </h2>
                <p>
                    Първата си награда  за „Ново хореографско произведение” за танцовата постановка „Празник край Струма“ Е. Вучков получава на Трети национален преглед на държавните ансамбли през 1985г. в гр. Кюстендил.

                </p>
                <p>
                    През 1997г. Вучков става и най -младият главен художествен ръководител  на  вече преименувания Държавен ансамбъл за народни песни и танци „Струма“, гр. Кюстендил. Остава негов ръководител до закриването на ансамбъла през 1991 година.

                </p>

                <p>
                    Е. Вучков е носител на много творчески отличия и персонални награди.


                </p>
                <p>
                    От 2011 година е основател и председател на Сдружение „Вдъхновени“ и създава Танцова формация „Нова Генерация“, гр. Кюстендил. Под ръководството и с хореографията на Е. Вучков, танцовата формация получава множество награди от престижни конкурси и фестивали в страната и чужбина.


                </p>
                <p>
                    От 2020г. Вучков е и член на Управителния съвет на СОЛИ (Съюз на организациите за любителско изкуство) и Зонален представител за Югозападен регион.


                </p>
                <p>
                    През 2021г. му се присъжда званието "MAESTRO ACADEMIC" от Европейската асоциация за фолклорни фестивали "EAFF".


                </p>
            </div>
        </div>
    </section><!-- End Clients Section -->

</main><!-- End #main -->
