@using TFNG.Common
@{ this.ViewData["Title"] = "Home Page"; }

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                     Slide 1
                    <div class="carousel-item active" style="        background: url(https://res.cloudinary.com/sharwinchester/image/upload/c_fill,h_1080,w_1920/v1625403267/DSC_1836_2_ot0o77.jpg)
    ">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">ТАНЦОВА ФОРМАЦИЯ</h2>
                                <h2 class="animate__animated animate__fadeInDown"><span>НОВА ГЕНЕРАЦИЯ</span></h2>

                                <p class="animate__animated animate__fadeInUp font-italic">През поколенията до <b>новата генерация</b> - танцът е вдъхновение. Вдъхновението танцува.</p>
                            </div>
                        </div>
                    </div>      
                </div>
                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
           </div>
        </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2 class="font-italic">
                    … В НАЧАЛОТО БЯХА ДЕЦАТА…
                </h2>
                <p>Сдружение „Вдъхновени“ има за цел съхраняване и популяризиране на богатия български фолклор. Неговият основател Е. Вучков поставя пред себе си голямото предизвикателство - да  създаде танцов състав от деца, желаещи да се занимават с български народни танци и да ги вдъхнови и възпита в ценностите на българското народно творчество и дух.</p>
                <p>
                    Всичко започва през 2011 година, когато децата от първи до трети клас на IIро основно училище „Даскал Димитрий“ за първи път се докосват до магията на българския танц. Това е и началото на бъдещата ТФ „Нова Генерация“.
                </p>
            </div>
        </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1625429549/IMG-0787_rnpi6q.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 class="font-italic">
                        … БОГАТСТВОТО НА ТАНЦА…
                    </h3>
                    <p>
                        Първият танц, събрал в себе си творческия опит на ръководителя на танцовата формация и детския ентусиазъм и талант е танцът „Ръченица“. Скоро след него със своето богатство и хореография изгряват и танците „Северняшка сюйта“ и „Шопски женски танц“. Междувременно малките танцьори вече са се превърнали в едно голямо семейство.
                    </p>
                    <h3 class="font-italic">
                        … СЦЕНАТА Е ДОМ НА ТАЛАНТА…
                    </h3>
                    <p>
                        Първото излизане на сцена за децата от ТФ „Нова Генерация“ е явяването на МФФ „Пауталия“. Резултатът е Iво място. Успехите продължават през 2013 година, когато ТФ „Нова генерация“ изнася своя първи самостоятелен годишен концерт. В репертоара вече има 15 нови танца, а възрастовите групи са три.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2 class="font-italic">
                    … ПЪТЯТ Е УСЪВЪРШЕНСТВАНЕ…
                </h2>
                <p>
                    Творческото богатство, с което радва ТФ „Нова Генерация“ е огромно. Танците, които се поставят са с все по-сложна и пъстра хореография. Чрез танца и музиката, танцуващите във формацията се запознават с характерните особености на фолклорните области, а чрез публичното представяне на танцовата формация, танцуващите предават познанията и таланта си на широката публика. И всичко това се случва с много любов…
                </p>
                <p>
                    При поставяне на танците, се използва музиката на едни от най- известните  имена в България - Филип Кутев, проф. Кирил Стефанов, Кр. Кюкчийски, М. Йорданов и други.
                </p>
            </div>
        </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1625429544/120962226_3703259319686710_2692493516344625277_n_mfnmrl.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 class="font-italic">
                        … ПЕРЛА В КОРОНАТА…
                    </h3>
                    <p>
                        Сред най-големите поводи за гордост на ТФ „Нова генерация“ е поканата от Националния фолклорен ансамбъл „Филип Кутев“ за съвместен концерт в Драматичен театър - град Кюстендил през 2017 година. Под съпровода оркестъра и хора на НФА „Филип Кутев“ е представен танцът „Еркечки танц“ по хореография на Магарита Дикова, танц който е и една от емблемите на НФА „Филип Кутев“.
                    </p>
                    <p>
                        Като плод на силните емоции и вдъхновението от събитието, по-късно биват направени нови постановки – „Пирински игри“ по музика на проф. Кирил Стефанов и „Хора в Шопско“ по музика Филип Кутев и М. Йорданов.
                    </p>
                    <p>
                        През месец юни 2017 година следва още едно голямо събитие: „ТФ Нова генерация и приятели“. Участие вземат “Пиринска китка“ от гр. Благоевград и Танцова формация “Фалмис“ от София. Поставят се изцяло непознати танци на Банатските българи.
                    </p>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <p>
                    На годишния си концерт през 2019г., ТФ „Нова генерация“ вече представя танци от всички фолклорни области в България, изиграни от трите възрастови групи.
                </p>
                <p>
                    Сред най-големите успехи на състава е и ставането на Балкански шампион през 2021 година в град Хисаря в балканския шампионат по фолклор.
                </p>
            </div>
        </div>
    </section><!-- End Clients Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="https://res.cloudinary.com/sharwinchester/image/upload/v1625429544/120756564_3697894246889884_6955379948746949312_n_meo6av.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3 class="font-italic">
                        …ТФ „НОВА ГЕНЕРАЦИЯ“ ДНЕС…

                    </h3>
                    <p>
                        Днес ТФ „Нова генерация“ се гордее с редица неща. На първо място, вече всички танци, които се изпълняват, са авторски. Към момента, в репертоара ни има над 35 танца от всички фолклорни области, като последните танци, направени през 2021 година, са и с авторска музика.

                    </p>
                    <p>
                        Гордост за нас е, че през 2021г. ТФ „Нова Генерация“ ще чества своя 10-годишен юбилей.

                    </p>
                    <p>
                        До момента ТФ „Нова Генерация“ се радва на спечелени 124 награди и отличия, в т. ч. купи, медали, плакети, дипломи и грамоти от различни фестивали в България, Сърбия, Македония, Гърция и др.


                    </p>
                    <p>
                        До днес имаме осъществени осем годишни самостоятелни концерта, участия на големи сцени, включително изяви в Зала 1 на НДК, както и множество записи и клипове в различни телевизии.


                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <p class="font-weight-bold font-italic">
                    Ние вярваме в силата на музиката и танца. Поставили сме си за цел  представителите на новата генерация да бъдат възпитани в многовековните български традиции, творчество, обичаи. В красотата на българския дух. Как постигаме това? С магията на танца. И вярваме, че всеки от нас допринася за обогатяването на родния фолклор и за популяризирането му днес, в тази модерна епоха. Защото истинското творчество винаги ще е на мода.

                </p>
            </div>
        </div>
    </section><!-- End Clients Section -->
</main><!-- End #main -->
